In [ ]:
print("hello world ")

hello world

In [ ]:
print("i am thenmozhi \nmy age 20\ni am from tenkasi ")

i am thenmozhi
my age 20
i am from tenkasi

In [ ]:
age=19
print("My age is",age)

My age is 19

In [ ]:
a=15
b="kalai"
print(type(a),"\n",type(b))

<class 'int'>
 <class 'str'>

In [ ]:
a=28
b=str(a)
c=int(b)
f= float(a)
print(b,f)
print(c+a)

28 28.0
56

In [ ]:
a="weight"
b=50
print(a,b)

weight 50

In [ ]:
a=12
b=3
print("add:",a+b)
print("sub:",a-b)
print("mul:",a*b)
print("div:",a/b)

add: 15
sub: 9
mul: 36
div: 4.0

In [ ]:
print("mod:",a%b)
print("exp:",a**b)

mod: 0
exp: 1728

In [ ]:
print("f.div:",a//b)

f.div: 4

In [ ]:
n=int(input("enter the number:"))
if(n%2==0):
  print ("even")
else:
  print ("odd")

enter the number:23
odd

In [ ]:
a=[12,32,2,7,45,8]
l= max(a)
print("the largest number is:",l)

the largest number is: 45

In [ ]:
n=int(input("enter your mark for 100:"))
if(n>=90):
  print("A")
elif(n>=70):
  print ("B")
elif(n>=50):
  print("C")
else:
  Print("fail")

enter your mark for 100:65
C

In [ ]:
n=int(input(" enter the number:"))
if(n>0):
  print("positive")
elif(n<0):
  print("negative")
else:
  print("zero")

 enter the number:4
positive

In [ ]:
a=24
b=6
c=17
if(a>b):
  if(a>c):
    print("a is largest number.")
  else:
    print("c is largest number.")
else:
  if(b>c):
    print("b is largest number.")
  else:
    Print("c is largest number.")

a is largest number.

In [ ]:
y=int(input("enter the year:"))
if(y%4==0):
  print("it is leap year.")
else:
  print("it is not leap year.")

enter the year:2005
it is not leap year.

In [ ]:
c=input("enter the alphabet:")
if(c=='a' or c=='e' or c=='i' or c=='o' or c=='u'):
  print("vowel")
else:
  print("consonant")

enter the alphabet:I
consonant

In [ ]:
o=input("enter the operator")
if(o=='+'):
  print(a+b)
elif(o=='-'):
  print(a-b)
elif(o=='*'):
  print(a*b)
elif(o=='/'):
  print(a/b)
else:
  print("enter the operator in +,-,*,/")

enter the operator+
30

In [ ]:
for i in range(1,6):
  print(i)

1
2
3
4
5

In [ ]:
for i in range(1,11):
  if(i%2==0):
    print(i)

2
4
6
8
10

In [ ]:
l=[3,5,9,2,7]
i=0
while(i<len(l)):
  print(l[i])
  i+=1

3
5
9
2
7

In [ ]:
from sympy import*
n=100
for i in range(0,100):
  k=isprime(i)
  if(k==true):
    print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
n=int(input('enter the number:'))
p=isprime(n)
if(p==true):
  print('it is prime')
else:
  print('not a prime')

enter the number:7
it is prime

In [ ]:
nterms = int(input("How many terms? "))
n1, n2 = 0, 1
count = 0
if nterms <= 0:
   print("Please enter a positive integer")
elif nterms == 1:
   print("Fibonacci sequence upto",nterms,":")
   print(n1)
else:
   print("Fibonacci sequence:")
   while count < nterms:
       print(n1)
       nth = n1 + n2
       n1 = n2
       n2 = nth
       count += 1

How many terms? 9
Fibonacci sequence:
0
1
1
2
3
5
8
13
21

In [ ]:
num = int(input("enter the number:"))
for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

enter the number:7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [ ]:
num = int(input("enter the number:"))
factorial = 1
if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

enter the number:8
The factorial of 8 is 40320

In [ ]:
for number in range(2, 51, 2):
  print(number)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [ ]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [ ]:
text = "Hello, World!"
uppercase_text = text.upper()
print("uppercase:",uppercase_text)
print("lowercase:",text)

uppercase: HELLO, WORLD!
lowercase: Hello, World!

In [ ]:
string = "Hello, World!"
length = len(string)
print(length)

13

In [ ]:
my_string = "Hello World"
first_five = my_string[:5]
print(first_five)

Hello

In [ ]:
my_string = "hello world"
last_four = my_string[-4:]
print(last_four) # Output: ring

In [ ]:
txt = "Hello World"[::-1]
print(txt)

dlroW olleH

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [ ]:
currencies = ['Dollar', 'Euro', 'Pound']
currencies.append('Yen')
print(currencies)

['Dollar', 'Euro', 'Pound', 'Yen']

In [ ]:
thislist=["apple","banana","cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [ ]:
thistuple=("apple","banana","cherry")
print(thistuple[1])

banana

In [ ]:
vowels=('a','e','i','o','i','u')
count=vowels.count('i')
print(count)

2

In [ ]:
vowels = ('a', 'e', 'i', 'o', 'u')
index = vowels.index('e')
print(index)

1

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
print(x)

Mustang

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [ ]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
del my_dict['b']
print(my_dict)

{'a': 1, 'c': 3}

In [ ]:
my_set = {1, 2, 3, 4, 5}
print(my_set)
my_set_mixed = {1, "Hello", 3.4, True}
print(my_set_mixed)
empty_set = set()
print(empty_set)

In [2]:
A = {2, 3, 5}
B = {1, 3, 5}
print('A U B = ', A.union(B))

A U B =  {1, 2, 3, 5}

In [3]:
A = {2, 3, 5}
B = {1, 3, 5}
print(A.intersection(B))

{3, 5}

In [4]:
def add_numbers(x, y):
  return x + y
num1 = 5
num2 = 3
sum_of_numbers = add_numbers(num1, num2)
print(f"The sum of {num1} and {num2} is: {sum_of_numbers}")

The sum of 5 and 3 is: 8

In [6]:
def check_even_odd(number):
    if number % 2 == 0:
        return "Even"
    else:
        return "Odd"

In [7]:
def add_numbers(a, b):
    sum = a + b
    print('Sum:', sum)
add_numbers(2, 3)

Sum: 5

In [8]:
    try:
        result = 10 / 0
    except ZeroDivisionError:
        print("Error: Cannot divide by zero.")

Error: Cannot divide by zero.

In [10]:
    try:
        num = int(input("Enter an integer: "))
    except ValueError:
        print("Invalid input. Please enter an integer.")

Enter an integer: h
Invalid input. Please enter an integer.

In [11]:
my_dict = {"apple": 1, "banana": 2, "cherry": 3}
try:
    value = my_dict["date"]
    print(value)
except KeyError:
    print("Error: Key not found in the dictionary")

Error: Key not found in the dictionary